body {
  margin: 0;
  padding: 0;
  color: black;
  font-family: 'wonderunitsans';
  font-weight: 300;
  background: #ccc;
  user-select: none;
  -webkit-user-select: none;
  cursor:default;
  min-height: 100vh;
  overflow: hidden;

  border: 0;
  height: 100vh;
  width: 100vw;

  -webkit-app-region: drag;

  display: flex;
  flex-direction: row;
}

#title {
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 20px;
  display: inline-block;
  color: #222;
  margin-right: 5px;
}

input, select, label {
  -webkit-app-region: no-drag;
}


button {
  -webkit-app-region: no-drag;
  outline: 0;
  border: 0;
  border-radius: 8px;
  background: #1E88E5;
  color: white;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 20px 20px;
  margin-right: 10px;
}

button:last-child {
  margin-right: 0;
}

button:hover {
  background: #249aea;
}

button:active {
  background: #1E88E5;
}

button:disabled {
  background: gray;
}

#main {
  flex: 2;
  padding: 50px;
  display: flex;
  flex-direction: column;

}

#content {
  flex: 2;
}

#outputs {
  display: flex;
  flex-direction: row;

}

#outputs button {
  flex: 1;
  height: 150px;
}



#right {
  width: 400px;
  background: #bbb;
  display: flex;
  flex-direction: column;
    align-content: flex-end;

}

#chat::-webkit-scrollbar { 
    display: none; 
}

#chat {
  flex: 1;
  padding: 20px 20px 10px 20px;
  overflow: scroll;
  display: flex;
  flex-direction: column;

  /*align-items: flex-end;*/
}

#chat-input {
  height: 70px;
  background: #ddd;
}

#chat-input input {
  -webkit-app-region: no-drag;
  height: 100%;
  width: 100%;
  outline: 0;
  background: none;
  border: 0;
  font-size: 15px;
  padding: 0 20px;
}

.blurb {
  background: #ddd;
  border-radius: 8px;
  padding: 15px 20px;
  margin-bottom: 10px;
  font-weight: 400;
  color: #555;
  line-height: 1.5em;
  flex-shrink: 1;
  align-self: flex-end;
  max-width: 250px;
}

.blurb.user {
  background: #eee;
  align-self: flex-start;
}

#timeline {
  margin-top: 30px;
}

#timeline #label {
  display: flex;
  flex-direction: row;
  height: 10px;
  font-size: 10px;
  overflow: hidden;
  margin-bottom: 5px;

}

#timeline #bar {
  display: flex;
  flex-direction: row;
  height: 60px;
  border-radius: 5px;
  overflow: hidden;
}


#timeline .section {
  width: 100px;
  display: block;
  position: absolute;
}

.tippy-tooltip.settings-theme {
  /* Your styling here. Example: */
  border-radius: 10px;
  padding: 30px;
  text-align: left;
  max-width: 300px;
}

.settings-content {
  overflow: scroll;
  max-height: 520px;
  position: relative;
}

.settings-content .row {
  margin-bottom: 5px;
}

.tippy-tooltip .title {
  font-size: 30px;
  font-weight: 600;
  line-height: 1em;
  margin-bottom: 10px;
}

.tippy-tooltip .description {
  margin-bottom: 10px;
}

input[type=checkbox] {
  display: none;
}

input[type="checkbox"] + label span {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin: -2px 10px 0 0;
  vertical-align: middle;
  background: #444;
  border-radius: 3px;
  cursor: arrow;
}

input[type=checkbox]:checked + label:before {
  content:'\2716';
  padding-left: 5px;
  padding-top: 4px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, .2);
  font-size: 15px;
  text-align: center;
  line-height: 1;
  position: absolute;
  color: white;
}

select {
  color: #fff;
  background-color: #444;
  outline: 0;
  display: block;
  width: 100%;
  padding: 5px 10px;
  font-size: 16px;
  border: 0;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #444;
  margin-bottom: 10px;
}

.tippy-tooltip input[type="text"] {
  color: #fff;
  background-color: #444;
  outline: 0;
  display: block;
  width: 100%;
  padding: 5px 10px;
  font-size: 16px;
  border: 0;
  height: 34px;
  margin: 0px;
  box-sizing: border-box;
  border-radius: 5px;
    -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

}

#outputs i {
  color: rgba(255,255,255,0.3);
  margin-right: 10px;
}

#content button {
  color: #ccc;
  vertical-align: text-bottom;
  position: relative;
  top: -5px;
  padding: 10px 10px;
  background: rgba(0,0,0,0.2);
  font-size: 12px;
  width: 34px;
  border-radius: 6px;
  margin-right: 0;
  margin-left: 10px;
}

#content button:hover {
  background: rgba(0,0,0,0.4);
}
